 <!-- FOOTER -->
 <div class="footer">
    <div class="cell">
        <h3>LINKS</h3>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/login">Login</a>
    </div>
    <div class="cell">
        <h3>A PRODUCT OF</h3>
        <p>CodeSquad Bootcamp</p>
        <p>Personal Project</p>
        <p>by BitsandGits</p>
    </div>
</div>
</body>

</html>