 <!-- FOOTER -->
 <div class="footer">
    <div class="cell">
        <h3>SITE</h3>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/login">Login</a>
    </div>
    <div class="cell">
        <h3>A PRODUCT BY</h3>
        <p>BitsandGits</p>
        <p>Copyright © 2021</p>
    </div>
</div>
</body>

</html>