<%- include("../partials/head") -%>
<%- include("../partials/nav") -%>

    <!-- CONTENT -->
    <div class="content">
        <div class="container">
            <h1>About Inner Circle</h1>
            <h3>Inner Circle is a personal project by BitsandGits, made possible by CodeSquad full-stack web development bootcamp 2021. At the moment, it is intended for personal use with potential for broader future application. </h3>
            <h3>Robust research have shown that having a close social circle is vital to long-term happiness and growth. The Pixar and Disney characters listed on the home page represent my closest supporters, critics, and loved ones. They are the people I'd like to keep close as opportunities and obligations - otherwise known as life - push us apart. I set how often I'd like to be in touch, and keep track of when we had our last conversation. When the system detects that it's past when I'd like to get in contact, it sends me an email reminder to reach out. This saves me time and energy, allowing more of myself to engage with my loved ones! </h3>
            <h3>If you are curious to learn more about this project, please reach out to BitsandGits on GitHub or contact CodeSquad bootcamp based in Boston. Thank you for stopping by :)</h3>
            <br>
        </div>
    </div>


<%- include("../partials/footer") -%>