<%- include("../partials/head") -%>
<%- include("../partials/nav") -%>

    <!-- CONTENT -->
    <div class="content">
        <div class="container">
            <h1>About Inner Circle</h1>
            <p>Inner Circle is a personal project by BitsandGits made during CodeSquad Bootcamp. It is intended for personal use with potential for broader future use.</p>
        </div>
    </div>


<%- include("../partials/footer") -%>