<%- include("../partials/head") -%>
<%- include("../partials/nav") -%>

    <!-- CONTENT -->
    <div class="content">
        <div class="container">
            <h1>About Inner Circle</h1>
            <h3>Inner Circle is a personal project by BitsandGits, made possible by CodeSquad web dev Bootcamp. It is intended for personal use with potential for broader future application. </h3>
            <h3>One's innermost social circle is vital to happiness and growth. To use this website, please add the people you would like to keep in touch with. Enter their basic info and how often you woud like to be in touch (in days). Remember to update the date of last contact! An email reminder will be sent when you haven't been in contact with a friend longer than you'd like to. Have fun~ </h3>
             
        </div>
    </div>


<%- include("../partials/footer") -%>