<%- include("../partials/head") -%>
<%- include("../partials/nav") -%>

    <!-- CONTENT -->
    <div class="content">
        <div class="container">
            <h1>ADMIN PAGE</h1>
            <input type="button" class=button onclick="location.href='/admin-console/create-person';" value="ADD NEW CONTACT">
            <table>
                <tr>
                    <th><h2>NAME</h2></th>
                    <th><h2>EDIT</h2></th>
                    <th><h2>DELETE</h2></th>
                </tr>
                <% allPersons.forEach(person => { %>
                    <%- include("../partials/person-listing", {person:person}) -%>
                <% }); %>
            </table>
            <br>
            <br>
        </div>
    </div>

<%- include("../partials/footer") -%>