<%- include("../partials/head") -%>
<%- include("../partials/nav") -%>

    <!-- CONTENT -->
    <div class="content">
        <div class="container">
            <h1>CREATE NEW CONTACT</h1>
            <form action="/persons" method="post">
                <div>
                <label for="name">Name: </label>
                <input type="text" id="name" name="name" placeholder="Name" required minlength="1">
                </div>  
                <div>
                <label for="frequency">Frequency: </label>
                <input type="number" id="frequency" name="frequency" placeholder="1" required min="1">
                </div>
                <div>
                <label for="date">Last Contact Date: </label>
                <input type="text" id="date" name="date" placeholder="1/1/2021">
                </div>
                <label for="notes">Notes: </label>
                <input type="text" id="notes" name="notes" placeholder="Notes">
                </div>
                <div>
                <label for="image">Image: </label>
                <input type="text" id="image" name="image" placeholder="Image">
                </div>  
                <br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>

<%- include("../partials/footer") -%>