<%- include("../partials/head") -%>
<%- include("../partials/nav") -%>

    <!-- CONTENT -->
    <div class="content">
        <!-- BOTTOM HALF OF INDEX -->
        <div class="container">
            <h1>My Inner Circle</h1>
            <h2>Closest supporters, critics, and loved ones~</h2> 
            <br>
            <!-- START OF INDEX ALL PERSONS -->
            <div class="index-all-books" id="index-all-books">
                <!-- for loop for the length of array -->
                <% allPersons.forEach(person => { %>
                    <%- include("../partials/single-person", {person:person}) -%>
                <% }); %>
                <!-- person is the individual object inside data.js -->
            </div>
            <!-- END OF INDEX ALL PERSONS -->
        </div>
    </div>

<%- include("../partials/footer") -%>